In [1]:
import pandas as pd
import support.df_init as init

df = init.init()
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,regions_SA,regions_UNK,countryOfOrigin_freq_enc,countryOfOrigin_NA,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK
0,Carmencita,"(5, 6]",1894,1894.0,1.0,0,2089,1,10,2,...,0,0,0.399732,1,0,0,0,0,0,0
1,Un bon bock,"(5, 6]",1892,1892.0,12.0,0,183,1,10,2,...,0,0,0.046115,0,0,0,1,0,0,0
2,Chinese Opium Den,"(4, 5]",1894,1894.0,1.0,0,195,1,10,1,...,0,0,0.399732,1,0,0,0,0,0,0
3,Edison Kinetoscopic Record of a Sneeze,"(5, 6]",1894,1894.0,1.0,1,2237,1,10,3,...,0,0,0.399732,1,0,0,0,0,0,0
4,L'arrivée d'un train à La Ciotat,"(7, 8]",1896,1896.0,1.0,0,13115,1,10,12,...,1,2,0.046115,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149526,Nuestra película,"(6, 7]",1993,1993.0,96.0,0,11,1,10,0,...,1,0,0.001417,0,0,0,0,0,1,0
149527,Eco,"(6, 7]",2019,2019.0,14.0,0,15,1,10,4,...,0,0,0.017834,0,0,0,1,0,0,0
149528,Women Take Center Stage,"(5, 6]",2019,2019.0,NaN,0,12,1,10,2,...,0,0,0.000000,0,0,0,0,0,0,0
149529,Horrid Henry and the Christening Crisis,"(7, 8]",2011,2011.0,10.0,0,9,1,10,1,...,0,0,0.000000,0,0,0,0,0,0,0
149530,A lenda do soprador de vidro,"(8, 9]",2019,2019.0,NaN,0,9,1,10,3,...,0,0,0.000000,0,0,0,0,0,0,0

In [2]:
# rows w/out country of origin total vs rows w/out country of origin
# and with only one region
(len(df.loc[df['countryOfOrigin'].apply(lambda x: len(x)) == 0]),
 len(df.loc[(df['countryOfOrigin'].apply(lambda x: len(x)) == 0) &
            (df['regions'].apply(lambda x: len(x)) == 1)]))

(39987, 219)